@page
@model ArtHut.Pages.Order.PaymentDetailsModel
@{
	ViewData["Title"] = "Payment Details";
}
<style>
	.form-check-input:checked {
		background-color: #ff1749;
		outline: none;
		border: none;
	}
</style>

<div class="container">
	<form method="POST" enctype="multipart/form-data" class="row mycontainer ">
		<div class="row d-flex justify-content-center  align-self-center pt-5 pb-5">
			<h3 class="fontSul justify-content-center align-self-center d-flex">Review and Submit Order</h3>
		</div>
		<div class="col-7  pe-2 fontSulLight">
			<div class=" mt-0  bg-white p-5 ">

				<h4 class=" mb-5 fontSul">Enter Your Payment Details</h4>

				<div class="row" id="Card">
					<div class="mb-3">
						<label asp-for="CreditCard.CardholderName" class="form-label"></label>
						<input asp-for="CreditCard.CardholderName" class="form-control rounded-0 border-1 " tag="input" placeholder="As shown on card" id="CardholderName" style="--bs-border-opacity: .5;" />
						<span asp-validation-for="CreditCard.CardholderName" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="CreditCard.CardNumber" class="form-label"></label>
						<input asp-for="CreditCard.CardNumber" class="form-control rounded-0 border-1 " tag="input" placeholder="Enter card number" id="CardNumber" style="--bs-border-opacity: .5;" />
						<span asp-validation-for="CreditCard.CardNumber" class="text-danger"></span>
					</div>
					<div class="row pe-0">
						<div class="col-md-6 mb-3">
							<label asp-for="CreditCard.ExpirationDate" class="form-label"></label>
							<input asp-for="CreditCard.ExpirationDate" class="form-control rounded-0 border-1 " tag="input" placeholder="MM/YY" id="ExpirationDate" style="--bs-border-opacity: .5;" />
							<span asp-validation-for="CreditCard.ExpirationDate" class="text-danger"></span>
						</div>
						<div class="col-md-6 mb-3 pe-0">
							<label asp-for="CreditCard.CVV" class="form-label"></label>
							<input asp-for="CreditCard.CVV" class="form-control rounded-0 border-1 " tag="input" placeholder="Enter CVV" id="CVV" style="--bs-border-opacity: .5;" />
							<span asp-validation-for="CreditCard.CVV" class="text-danger"></span>
						</div>
					</div>
				</div> 
				<div class="row d-flex justify-content-center">or</div>
				<div class="row">
					<div class="mb-3 fontSulLight">
						<div class="form-check">
							<input class="form-check-input shadow-none" type="checkbox" value="" id="myCheckbox" asp-for="@Model.OnDelivery" value="true">
							<label class="form-label" asp-for="@Model.OnDelivery">
								Cash on Delivery
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-5   ps-2">
			<div class="bg-white p-4">
				<div class="p-3 pb-0">
					<h5 class="fontSul mb-4">Order summary</h5>
					<div class="">
						<div class="row d-flex mb-3 fontSulLight"><div class="col">Artwork subtotal</div> <div class="col text-end fontSulLight">€@ViewBag.ArtTotal</div></div>
						<div class="row d-flex mb-3 fontSulLight"><div class="col">Shipping total</div> <div class="col text-end">Free</div></div>
						<div class="row d-flex mb-3 fontSulLight"><div class="col fontSul">Order total</div> <div class="col text-end ">€@ViewBag.ArtTotal</div></div>

						<div id="start-payment-form" class="row g-flex mt-5 mb-3">
							<button class="btn red_btn rounded-0 fontSul p-2" type="submit">
								Continue  &nbsp;
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#myCheckbox').change(function () {
				if ($(this).is(':checked')) {
					var div = document.getElementById("Card");
					var inputs = div.getElementsByTagName("input");

					for (var i = 0; i < inputs.length; i++) {
						inputs[i].disabled = true;
						inputs[i].value = "";
					}
				} 
				else {
					var div = document.getElementById("Card");
					var inputs = div.getElementsByTagName("input");

					for (var i = 0; i < inputs.length; i++) {
						inputs[i].disabled = false;
						inputs[i].value = "";
					}
				}
			});
		});
	</script>
}