@page
@model ArtHut.Areas.Identity.Pages.Account.Manage.MessagesModel
@{
	ViewData["ActivePage"] = ManageNavPages.Messages;
}
<p>Messages</p>
@*<div>
	<div id="inbox" class="d-none">
		<partial name="Inbox" />
	</div>
	<div id="sent" class="d-none">
		<partial name="Sent" />
	</div>
	<div id="offers" class="d-none">
		<partial name="Offers" />
	</div>
</div> *@
