@page
@model ArtHut.Pages.ShopModel
@{
	ViewData["Title"] = "Shop";
}
<head>
	<link rel="stylesheet" href="~/css/Shop.css" asp-append-version="true" />
</head>

<body class="container-fluid p-0 my_container">
	<section>
		<div class="slick_slider_block justify-content-center col align-self-center">
			<div class=" myblock align-self-center">
				<p class="slick_slider_block_p fontGB display-3 justify-content-center align-self-center m-0">Original art for sale</p>
				<p class="slick_slider_block_p fontSulLight mt-4">Art for the soul. Art for life. Art for your home. Arthut connects passionate artists with art lovers.</p>
			</div>

			<i class="slick_slider_block_dot"></i>
		</div>
	</section>
</body>

