
<div class="">
	<ul class="nav nav-pills  fontSul">
		<li class="nav-item"><a class="nav-link text-black @*@MessagesNavPages.InboxNavClass(ViewContext)*@" id="profile" asp-page="./Inbox">Inbox</a></li>
		<li class="nav-item"><a class="nav-link text-black @*@MessagesNavPages.SentNavClass(ViewContext)*@" id="email" asp-page="./Sent">Sent</a></li>
		<li class="nav-item"><a class="nav-link text-black @*@MessagesNavPages.OffersNavClass(ViewContext)*@" id="change-password" asp-page="./Offers">Offers</a></li>
	</ul>
</div>

